.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #2b2b2b; /* Fundo dos cards em cinza escuro */
  }
  
  .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  .btn-success {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .btn-success .mr-2 {
    margin-right: 5px;
  }

  .btn {
    background-color: #e50914; /* Botões em vermelho */
    border: none;
  }

  .container {
    background-color: #1c1c1c; /* Garante que os containers também fiquem em preto */
  }

  body {
    background-color: #1c1c1c; /* Fundo preto */
    color: #ffffff; /* Texto branco */
  }
  
  h1 {
    color: #e50914; /* Títulos em vermelho */
  }

  h1 {
    color: #e50914; /* Títulos em vermelho */
  }

  h5 {
    color: #ffffff; /* Títulos em vermelho */
  }
  
  .btn:hover {
    background-color: #f42c28; /* Botões em vermelho mais claro no hover */
  }
  
  .midia-card {
    background-color: #2b2b2b; /* Cor de fundo do card */
    color: #afaaaa; /* Texto branco */
  }
  
  .midia-card .card-title {
    color: #ffffff; /* Cor do título em vermelho */
  }
  
  .midia-card .btn {
    background-color: #e50914; /* Botão vermelho */
    border: none;
  }
  
  .canal-card {
    background-color: #2b2b2b; /* Cor de fundo do card */
    color: #ffffff; /* Texto branco */
  }
  
  
  .canal-card .btn {
    background-color: #e50914; /* Botão vermelho */
    border: none;
  }
  
  .canal-card .btn:hover {
    background-color: #f42c28; /* Cor mais clara no hover */
  }
  